body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/200/461/non_2x/vector-realistic-blue-sky-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.obsah {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    border: 2px solid darkblue;
    background-color: lightskyblue;

}

h1 {
    color: darkgreen;
    font-style: oblique;
    text-align: center;
}
h2 {
    text-align: center;
}

.obrazok {
    width: 350px;
    height: 300px;
}
.obr {
    width: 75%;
    transform: translate(15%, 0);
}

p {
    color: black;
    font-size: medium;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}
h5 {
    color: white;
}
.formular {
    color: white;
    background-color: lightgreen;
}
.recenzia {
    border: 5px solid darkblue;
}





