
body{
    background-image: url('https://www.chovatelahospodar.sk/upload/article/2019/07/izbove-rastliny_1564515663.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

a img {
    width: 40px;
}