
body {
    background-image: url('https://www.chovatelahospodar.sk/upload/article/2019/07/izbove-rastliny_1564515663.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

a img {
    width: 60px;
    height: 40px;
}
img {
    width: 75%;
    transform: translate(15%, 0);
}
img {
    width: 350px;
    height: 300px;
}

h2 {
    text-align: center;
}

.container {
    top: 50px;
}

p {
    color: black;
    font-size: medium;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}
h5 {
    color: white;
}

.formular {
    color: white;
    background-color: lightgreen;
}