
body {
    background-image: url('https://www.chovatelahospodar.sk/upload/article/2019/07/izbove-rastliny_1564515663.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

a img {
    width: 60px;
    height: 40px;
}

img {
    width: 350px;
}

h2 {
    text-align: center;
}


p {
    color: black;
    font-size: medium;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}