
body{
    background-image: url('https://cdnzm.fsk.sk/img/deals/20034_1aaa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a img {
    width: 60px;
}
.obsah {
    position: fixed;
    width: 90%;
    top: 70px;
    text-align: center;
}

h1 {
    color: lightgreen;
    font-style: italic;
}

p {
    color: white;
    font-size: medium;
    font-style: italic;
    line-height: 1.5;
}